$color: #f26822;

.block-title{
    width: 40%;
    height: 10px;
    border-top: 2px solid grey ;
    border-bottom: 2px solid grey ;
}
.wp-product{
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    .imgProduct{
        margin: 0 auto;
    }
    .color{
        color: $color;
    }
    .btn-ProductBuy{
        width: 100%;
        border: solid 2px $color;
        height: 35px;
    }
    .btn-ProductBuy:hover{
        background-color: $color;
        color: white;
    }
}
.wp-news{
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: 20px;
}

