.wp-Cart {
  .table-Cart {
    margin: auto 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
  }
  .table-Cart td,
  .table-Cart th {
    font-size: 20px;
    border: 1px solid #ddd;
    padding: 8px;
    .wp-btnCart {
      display: flex;
      width: 200px;
      margin: 0 auto;
      justify-content: space-between;
      border: 1px solid #ea580c;
      .btn-CartPlus {
        width: 50px;
        border-left: 1px solid #ea580c;
        cursor: pointer;
      }
      .btn-Cart {
        width: 50px;
        border-right: 1px solid #ea580c;
        cursor: pointer;
      }
    }
  }
  .table-Cart tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .table-Cart th {
    font-size: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
  }
  .wp-total {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    .wp-textarea {
      display: flex;
      flex-direction: column;
      .textarea-cart {
        border: 1px solid gray;
      }
    }
    .wp-total-Money{
      width: 300px;

      .btn-product {
        width: 100px;
        height: 40px;
        border: 2px solid #ea580c;
        margin: 20px 4px 0 4px;
      }
      .btn-product:hover {
        background-color: #ea580c;
        color: white;
      }
    }
  }
}
