



.wp-SpaceSolution{
  padding: 0 60px;
  .title-intro{
   
  }
}
.wp-info{
  align-items: center;
  .title-div{
  border-top:1px solid rgb(132, 132, 132) ;
  border-bottom:1px solid rgb(132, 132, 132) ;
 
  }

}