$color: #f26822;
.ProducItem {
  height: 382px;

 .product-img-wp{
    padding: 0 10px;
 }
  .infor-product {
    justify-content: center;

    align-items: center;
    .name-product {
        margin-top: 10px;
    }
    .price-product {
      margin-top: 10px;
      color: $color;
    }
  }
  .btn-product {
     width: 96.5%;
    height: 40px;
    border: 2px solid $color;
    margin: 20px 4px 0 4px;
  }
  .btn-product:hover {
    background-color: $color;
  }
}
.ProducItem:hover{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
